<!-- end page controler -->
<div ng-controller="extraTimelineController" ng-model="$stateProvider">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
	    <li><a href='{{$state.current.data.agencyURL}}'>{{$state.current.data.agencyTitle}} Intranet Home</a></li>
        <li><a ui-sref="app.dashboard.dashboard">{{$state.current.data.appShTitle}} Home</a></li>
        <li class="active">{{$state.current.data.appShTitle}} {{$state.current.data.pageTitle}}</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header"><div class='fa fa-{{$state.current.data.pageIcon}} text-{{$state.current.data.pageIconColor}}'></div> {{$state.current.data.appShTitle}} {{$state.current.data.pageTitle}}<small></small></h1>
    <!-- end page-header -->

<!-- begin row 1 ==================================== -->

			<!-- begin timeline -->
			<ul class="timeline">
			    <li>
			        <!-- begin timeline-time -->
			        <div class="timeline-time">
			            <span class="date">today</span>
			            <span class="time">04:20</span>
			        </div>
			        <!-- end timeline-time -->
			        <!-- begin timeline-icon -->
			        <div class="timeline-icon">
			            <a href="javascript:;"><i class="fa fa-paper-plane"></i></a>
			        </div>
			        <!-- end timeline-icon -->
			        <!-- begin timeline-body -->
			        <div class="timeline-body">
			            <div class="timeline-header">
			                <span class="userimage"><img src="assets/img/user-rbs.jpg" alt="user-rbs"/></span>
			                <span class="username"><a href="javascript:;">Robert Santore</a> <small></small></span>
			                <span class="pull-right text-muted">18 Views</span>
			            </div>
			            <div class="timeline-content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc faucibus turpis quis tincidunt luctus.
                                Nam sagittis dui in nunc consequat, in imperdiet nunc sagittis.
                            </p>
			            </div>
			            <div class="timeline-footer">
			                <a href="javascript:;" class="m-r-15"><i class="fa fa-thumbs-up fa-fw"></i> Like</a>
			                <a href="javascript:;"><i class="fa fa-comments fa-fw"></i> Comment</a>
			            </div>
			        </div>
			        <!-- end timeline-body -->
			    </li>
			    <li>
			        <!-- begin timeline-time -->
			        <div class="timeline-time">
			            <span class="date">yesterday</span>
			            <span class="time">20:17</span>
			        </div>
			        <!-- end timeline-time -->
			        <!-- begin timeline-icon -->
			        <div class="timeline-icon">
			            <a href="javascript:;"><i class="fa fa-map-marker"></i></a>
			        </div>
			        <!-- end timeline-icon -->
			        <!-- begin timeline-body -->
			        <div class="timeline-body">
			            <div class="timeline-header">
			                <span class="userimage"><img src="assets/img/user-mj.jpg" alt="" /></span>
			                <span class="username">Michael Jabbour</span>
			                <span class="pull-right text-muted">82 Views</span>
			            </div>
			            <div class="timeline-content">
                            <p>Location: United Sates</p>
                            <div id="google-map" class="height-sm m-b-10"></div>
                        </div>
			            <div class="timeline-footer">
			                <a href="javascript:;" class="m-r-15"><i class="fa fa-thumbs-up fa-fw"></i> Like</a>
			                <a href="javascript:;"><i class="fa fa-comments fa-fw"></i> Comment</a>
			            </div>
			        </div>
			        <!-- end timeline-body -->
			    </li>
			    <li>
			        <!-- begin timeline-time -->
			        <div class="timeline-time">
			            <span class="date">24 February 2016</span>
			            <span class="time">08:17</span>
			        </div>
			        <!-- end timeline-time -->
			        <!-- begin timeline-icon -->
			        <div class="timeline-icon">
			            <a href="javascript:;"><i class="fa fa-edit"></i></a>
			        </div>
			        <!-- end timeline-icon -->
			        <!-- begin timeline-body -->
			        <div class="timeline-body">
			            <div class="timeline-header">
			                <span class="userimage"><img src="assets/img/user-ka.jpg" alt="" /></span>
			                <span class="username">Kari Auer</span>
			                <span class="pull-right text-muted">1,282 Views</span>
			            </div>
			            <div class="timeline-content">
                            <p class="lead">
                                <i class="fa fa-quote-left fa-fw pull-left"></i>
                                Quisque sed varius nisl. Nulla facilisi. Phasellus consequat sapien sit amet nibh molestie placerat. Donec nulla quam, ullamcorper ut velit vitae, lobortis condimentum magna. Suspendisse mollis in sem vel mollis.
                                <i class="fa fa-quote-right fa-fw pull-right"></i>
                            </p>
                        </div>
			            <div class="timeline-footer">
			                <a href="javascript:;" class="m-r-15"><i class="fa fa-thumbs-up fa-fw"></i> Like</a>
			                <a href="javascript:;"><i class="fa fa-comments fa-fw"></i> Comment</a>
			            </div>
			        </div>
			        <!-- end timeline-body -->
			    </li>
			    <li>
			        <!-- begin timeline-time -->
			        <div class="timeline-time">
			            <span class="date">10 January 2016</span>
			            <span class="time">20:43</span>
			        </div>
			        <!-- end timeline-time -->
			        <!-- begin timeline-icon -->
			        <div class="timeline-icon">
			            <a href="javascript:;"><i class="fa fa-camera"></i></a>
			        </div>
			        <!-- end timeline-icon -->
			        <!-- begin timeline-body -->
			        <div class="timeline-body">
			            <div class="timeline-header">
			                <span class="userimage"><img src="assets/img/user-rbs.jpg" alt="" /></span>
			                <span class="username">Robert Santore</span>
			                <span class="pull-right text-muted">1,021,282 Views</span>
			            </div>
			            <div class="timeline-content">
			                <h4 class="template-title">
			                    <i class="fa fa-map-marker text-danger fa-fw"></i>
			                    33 Beaver Street, New York, NY 10004
			                </h4>
			                <p>In hac habitasse platea dictumst. Pellentesque bibendum id sem nec faucibus. Maecenas molestie, augue vel accumsan rutrum, massa mi rutrum odio, id luctus mauris nibh ut leo.</p>
                            <p class="m-t-20">
                                <img src="assets/img/33%20beaver.jpeg" alt="33%20beaver"/>
                            </p>
                        </div>
			            <div class="timeline-footer">
			                <a href="javascript:;" class="m-r-15"><i class="fa fa-thumbs-up fa-fw"></i> Like</a>
			                <a href="javascript:;"><i class="fa fa-comments fa-fw"></i> Comment</a>
			            </div>
			        </div>
			        <!-- end timeline-body -->
			    </li>
			    <li>
			        <!-- begin timeline-icon -->
			        <div class="timeline-icon">
			            <a href="javascript:;"><i class="fa fa-spinner fa-spin"></i></a>
			        </div>
			        <!-- end timeline-icon -->
			        <!-- begin timeline-body -->
			        <div class="timeline-body">
			            Loading...
			        </div>
			        <!-- begin timeline-body -->
			    </li>
			</ul>
			<!-- end timeline -->
		</div>